.calculator_main {
  margin: 0 100px;
  margin-top: -90px;
  background: #ffffff;
  box-shadow: 6px 6px 60px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
}
.calculator_main > h3 {
  text-align: center;
  padding-bottom: 30px;
}

.calculator_box {
  display: flex;
  gap: 10px;
}

.calculator_range,
.calculator_graph {
  background: #182d64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  height: 600px;
  color: #ffffff;
  padding: 30px;
  width: 500px;
}

.calculator_range {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.calculator_input_main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.calculator_input_top {
  display: flex;
  justify-content: space-between;
}

.calculator_input_title {
  font-size: 20px;
  line-height: 24px;
}

.calculator_input {
  position: relative;
}

.calculator_input > input {
  background: rgba(255, 255, 255, 0.13);
  border: 1px solid rgba(0, 117, 255, 0.24);
  border-radius: 8px;
  height: 46px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.calculator_input > input:focus {
  outline: none;
  border: 1px solid #267dff;
}

.calculator_input_icon {
  position: absolute;
  right: 0;
  top: 0;
  background: #0075ff;
  border: 1px solid rgba(0, 117, 255, 0.24);
  box-shadow: inset 0px 4px 0px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  width: 60px;
  height: 100%;
  display: grid;
  place-items: center;
}

.calculator_input_bottom {
  height: 40px;
  position: relative;
}
.calculator_input_bottom > input {
  width: 100%;
  height: 40px;
}
.calculator_input_bottom > input::before {
  content: "";
  position: absolute;
  background: rgba(207, 207, 207, 0.62);
  border-left: 1px solid #cfcfcf;
  top: 25px;
  height: 12px;
  left: 4px;
}
.calculator_input_bottom > input::after {
  content: "";
  position: absolute;
  background: rgba(207, 207, 207, 0.62);
  border-left: 1px solid #cfcfcf;
  top: 25px;
  height: 12px;
  right: 4px;
}

.calculator_input_range_text {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
  color: rgba(207, 207, 207, 0.62);
}
