.loandata_main {
  padding: 100px;
  background-color: #f2f2fa;
}
.loandata_main > h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.loandata_box {
  display: flex;
  justify-content: space-between;
}

.loandata_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 50%;
}
.loandata_list > li::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color:#267DFF;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.loandata_img {
  width: 500px;
  height: 350px;
}
.loandata_img > img {
  width: 100%;
  height: 100%;
}
