.footer_main {
  background-color: var(--primary-color);
  padding: 60px 100px;
  padding-bottom: 0;
}
.footer_logo_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer_logo_title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.footer_copyright {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 24px 0;
}
