:root{
  --primary-color: #182D64;
}

.primary_button {
  background: linear-gradient(118.49deg, #ff6a92 16.02%, #ff5c5d 90.75%);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 0 12px;
  border: none;
  outline: none;
  min-width: 130px;
  cursor: pointer;
}

.primary_outline_button {
  background: #ffffff;
  border: 1px solid #ff5c5d;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--primary-color);
  padding: 0 12px;
  outline: none;
  min-width: 130px;
  cursor: pointer;

}
